@model medical_family_card.Models.Allergy

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удлаить запись?</h3>
<div>
    <h4>Аллергия</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название аллергии
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllergyName)
        </dd>
        <dt class = "col-sm-2">
            Комментарий к аллергии
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllergyComment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AllergyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@User.Identity.Name">Вернуться к списку аллергий</a>
    </form>
</div>
