@model medical_family_card.Models.Allergy

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подробности</h1>

<div>
    <h4>Аллергия</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название аллергии
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllergyName)
        </dd>
        <dt class = "col-sm-2">
            Комментарий к аллергии
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllergyComment)
        </dd>
    </dl>
</div>
<div>
    @if (Model.UsrId == Convert.ToInt32(User.Identity.Name))
    {
        <a asp-action="Edit" asp-route-id="@Model?.AllergyId">Редактировать</a>
        <a>|</a>
        <a asp-action="Index" asp-route-id="@Model.UsrId">Вернуться к списку аллергий</a>
        <a>|</a>
        <a asp-controller="Home" asp-action="Index" asp-route-id=@Model.UsrId>Вернуться к меню</a>
    }
    else
    {
        <a asp-action="Index" asp-route-id="@Model.UsrId">Вернуться к списку аллергий знакомого</a>
        <a>|</a>
        <a asp-controller="Home" asp-action="Index" asp-route-id=@Model.UsrId>Вернуться к меню знакомого</a>
    }
    
</div>
